# Objective:

https://www.kaggle.com/c/covid19-global-forecasting-week-1/discussion/137078

https://tinyletter.com/data-is-plural/letters/data-is-plural-2020-03-18-edition

https://www.kaggle.com/c/covid19-global-forecasting-week-1

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('train.csv')

In [12]:
df.sort_values(by='Fatalities', ascending=False)

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
8441,12432,NaN,Italy,43.0000,12.0000,2020-03-24,69176.0,6820.0
8440,12431,NaN,Italy,43.0000,12.0000,2020-03-23,63927.0,6077.0
8439,12430,NaN,Italy,43.0000,12.0000,2020-03-22,59138.0,5476.0
8438,12429,NaN,Italy,43.0000,12.0000,2020-03-21,53578.0,4825.0
8437,12428,NaN,Italy,43.0000,12.0000,2020-03-20,47021.0,4032.0
...,...,...,...,...,...,...,...,...
6795,10006,Saint Barthelemy,France,17.9000,-62.8333,2020-03-16,3.0,0.0
6796,10007,Saint Barthelemy,France,17.9000,-62.8333,2020-03-17,3.0,0.0
6797,10008,Saint Barthelemy,France,17.9000,-62.8333,2020-03-18,3.0,0.0
6798,10009,Saint Barthelemy,France,17.9000,-62.8333,2020-03-19,3.0,0.0
17891,26382,NaN,Zambia,-15.4167,28.2833,2020-03-24,3.0,0.0