# Objective:

https://www.kaggle.com/c/covid19-global-forecasting-week-1/discussion/137078

https://tinyletter.com/data-is-plural/letters/data-is-plural-2020-03-18-edition

https://www.kaggle.com/c/covid19-global-forecasting-week-1

In [1]:
import pandas as pd
import numpy as np

### kaggle

In [150]:
df_train = pd.read_csv('train.csv')

In [151]:
df_train_us = df_train.loc[df_train['Country_Region']=='US']

### Meta Data:

https://www.kaggle.com/rohanrao/covid19-forecasting-metadata

In [157]:
df1 = pd.read_csv('region_metadata.csv')

In [158]:
df2 = pd.read_csv('region_date_metadata.csv')

In [159]:
df3 = pd.merge(df1, df2, on='Country_Region')

In [160]:
df_meta_us = df3.loc[df3['Country_Region']=='US']

In [161]:
df_meta_us.drop(['Date', 'Province_State_y', 'Recoveries'], axis=1, inplace=True)

In [166]:
df_meta_us = df_meta_us.rename(columns={"Province_State_x": "Province_State"})

### Merged

In [167]:
df = pd.merge(df_meta_us, df_train_us, on='Province_State')

In [168]:
df

,Country_Region_x,Province_State,lat,lon,continent,population,area,Id,Country_Region_y,Date,ConfirmedCases,Fatalities
0,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22401,US,2020-01-22,0.0,0.0
1,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22402,US,2020-01-23,0.0,0.0
2,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22403,US,2020-01-24,0.0,0.0
3,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22404,US,2020-01-25,0.0,0.0
4,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22405,US,2020-01-26,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
246019,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27763,US,2020-03-24,29.0,0.0
246020,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27764,US,2020-03-25,44.0,0.0
246021,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27765,US,2020-03-26,53.0,0.0
246022,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27766,US,2020-03-27,70.0,0.0
246023,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27767,US,2020-03-28,82.0,0.0

### Hospital beds data

https://www.kaggle.com/jaimeblasco/icu-beds-by-county-in-the-us

In [169]:
df_beds = pd.read_csv('beds.csv')

In [171]:
df_beds

,State,County,ICU Beds,Total Population,Population Aged 60+,Percent of Population Aged 60+,Residents Aged 60+ Per Each ICU Bed
0,Alabama,Autauga,6,55036,10523,19.1,1754.0
1,Alabama,Baldwin,51,203360,53519,26.3,1049.0
2,Alabama,Barbour,5,26201,6150,23.5,1230.0
3,Alabama,Bibb,0,22580,4773,21.1,NaN
4,Alabama,Blount,6,57667,13600,23.6,2267.0
...,...,...,...,...,...,...,...
3137,Wyoming,Sweetwater,10,44527,7015,15.8,702.0
3138,Wyoming,Teton,6,22923,4298,18.7,716.0
3139,Wyoming,Uinta,6,20758,3554,17.1,592.0
3140,Wyoming,Washakie,0,8253,2206,26.7,NaN
3141,Wyoming,Weston,0,7117,2073,29.1,NaN

### Age data

https://www.kff.org/other/state-indicator/distribution-by-age/?dataView=1&currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D

In [12]:
df = pd.read_csv('age.csv')

In [13]:
df

,Location,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65,Total,Footnotes
0,United States,75877700,28020700,39590700.0,81990600,41897600,51121200,318498500,1.0
1,Alabama,1128300,419500,554400.0,1192600,646800,811000,4752600,NaN
2,Alaska,191100,62200,93400.0,182800,94100,85500,709100,NaN
3,Arizona,1706300,645900,841100.0,1702900,862200,1245900,7004300,NaN
4,Arkansas,728600,255200,345400.0,722800,380200,489100,2921300,NaN
5,California,9324800,3594300,5299700.0,10212700,4737800,5576600,38745900,NaN
6,Colorado,1321800,495000,771700.0,1471200,700700,794800,5555200,NaN
7,Connecticut,767700,291600,387100.0,918600,510400,590900,3466300,NaN
8,Delaware,205800,76700,109700.0,233100,134400,177900,937700,NaN
9,District of Columbia,130200,64400,141400.0,179400,69900,82600,667900,NaN
10,Florida,4397300,1680500,2401900.0,5240300,2829800,4293700,20843500,NaN
11,Georgia,2610600,901500,1262600.0,2743500,1268300,1426400,10212800,NaN
12,Hawaii,312100,98400,167600.0,340100,178500,258100,1354800,NaN
13,Idaho,462600,150600,203200.0,414500,212900,275900,1719600,NaN
14,Illinois,2965600,1103100,1543200.0,3251000,1649800,1925700,12438400,NaN
15,Indiana,1609500,585500,762900.0,1648200,865400,1015400,6487100,NaN
16,Iowa,754700,272000,352500.0,747900,411700,517900,3056800,NaN
17,Kansas,727700,260300,325200.0,688300,371700,441600,2814700,NaN
18,Kentucky,1024400,388100,501600.0,1104200,591000,711100,4320300,NaN
19,Louisiana,1142700,408800,549800.0,1125800,592700,699600,4519300,NaN
20,Maine,250700,93700,140400.0,332500,214300,267900,1299500,NaN
21,Maryland,1378800,491800,712200.0,1573200,808400,906300,5870800,NaN
22,Massachusetts,1412700,581700,873100.0,1753300,936100,1103100,6659900,NaN
23,Michigan,2228200,890600,1151100.0,2431200,1392900,1676000,9770000,NaN
24,Minnesota,1336600,458400,685900.0,1398200,752600,857200,5489000,NaN
25,Mississippi,735000,262100,326400.0,717600,377300,461000,2879400,NaN
26,Missouri,1405600,519900,714300.0,1470900,823200,1000600,5934500,NaN
27,Montana,232800,84500,118800.0,247800,152000,198000,1034000,NaN
28,Nebraska,488400,161600,224800.0,460200,242200,291700,1868900,NaN
29,Nevada,707300,251100,386200.0,791200,373600,473900,2983400,NaN
30,New Hampshire,266500,106400,146700.0,341300,212100,237200,1310300,NaN
31,New Jersey,2025600,725800,1002400.0,2365900,1205500,1403100,8728300,NaN
32,New Mexico,499900,186400,239200.0,484500,271000,364300,2045300,NaN
33,New York,4182800,1648400,2552500.0,4945500,2573600,3114200,19016900,NaN
34,North Carolina,2383600,848600,1179600.0,2653900,1330700,1648100,10044400,NaN
35,North Dakota,176400,78600,99300.0,170000,96800,109600,730600,NaN
36,Ohio,2662700,973600,1345900.0,2850100,1597400,1926100,11355900,NaN
37,Oklahoma,987400,333200,479300.0,932800,484900,598400,3816100,NaN
38,Oregon,898000,347300,531100.0,1066100,539100,729300,4110800,NaN
39,Pennsylvania,2720200,1027000,1475100.0,3119700,1794800,2251300,12388100,NaN
40,Rhode Island,207500,92700,128900.0,262200,147700,175000,1014000,NaN
41,South Carolina,1151000,423000,558000.0,1243300,673500,880900,4929800,NaN
42,South Dakota,219200,77100,96400.0,200300,116700,139000,848700,NaN
43,Tennessee,1557800,571500,788700.0,1709100,884500,1074700,6586400,NaN
44,Texas,7705100,2642800,3631000.0,7333600,3200800,3510700,28024000,NaN
45,Utah,966500,337300,403600.0,756700,298400,343200,3105900,NaN
46,Vermont,117000,48400,68700.0,151600,95700,119200,600600,NaN
47,Virginia,1932900,702300,997000.0,2167600,1086400,1295800,8182100,NaN
48,Washington,1710100,622000,1023700.0,1913600,955800,1142800,7368000,NaN
49,West Virginia,373600,143300,184300.0,443100,255300,352700,1752300,NaN
50,Wisconsin,1309600,489400,644200.0,1446800,817100,955800,5662800,NaN
51,Wyoming,135900,46600,67500.0,136700,78800,94900,560300,NaN
52,Puerto Rico,635200,304700,334200.0,812100,424600,653400,3164400,NaN