# Objective:

https://www.kaggle.com/c/covid19-global-forecasting-week-1/discussion/137078

https://tinyletter.com/data-is-plural/letters/data-is-plural-2020-03-18-edition

https://www.kaggle.com/c/covid19-global-forecasting-week-1

In [149]:
import pandas as pd
import numpy as np

### kaggle

In [150]:
df_train = pd.read_csv('train.csv')

In [151]:
df_train_us = df_train.loc[df_train['Country_Region']=='US']

### Meta Data:

https://www.kaggle.com/rohanrao/covid19-forecasting-metadata

In [157]:
df1 = pd.read_csv('region_metadata.csv')

In [158]:
df2 = pd.read_csv('region_date_metadata.csv')

In [159]:
df3 = pd.merge(df1, df2, on='Country_Region')

In [160]:
df_meta_us = df3.loc[df3['Country_Region']=='US']

In [161]:
df_meta_us.drop(['Date', 'Province_State_y', 'Recoveries'], axis=1, inplace=True)

In [166]:
df_meta_us = df_meta_us.rename(columns={"Province_State_x": "Province_State"})

### Merged

In [167]:
df = pd.merge(df_meta_us, df_train_us, on='Province_State')

In [168]:
df

,Country_Region_x,Province_State,lat,lon,continent,population,area,Id,Country_Region_y,Date,ConfirmedCases,Fatalities
0,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22401,US,2020-01-22,0.0,0.0
1,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22402,US,2020-01-23,0.0,0.0
2,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22403,US,2020-01-24,0.0,0.0
3,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22404,US,2020-01-25,0.0,0.0
4,US,Alabama,32.3182,-86.9023,Americas,4903185,135767.0,22405,US,2020-01-26,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
246019,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27763,US,2020-03-24,29.0,0.0
246020,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27764,US,2020-03-25,44.0,0.0
246021,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27765,US,2020-03-26,53.0,0.0
246022,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27766,US,2020-03-27,70.0,0.0
246023,US,Wyoming,42.7560,-107.3025,Americas,578759,253335.0,27767,US,2020-03-28,82.0,0.0

### Hospital beds data

https://www.kaggle.com/jaimeblasco/icu-beds-by-county-in-the-us

In [169]:
df_beds = pd.read_csv('beds.csv')

In [171]:
df_beds

,State,County,ICU Beds,Total Population,Population Aged 60+,Percent of Population Aged 60+,Residents Aged 60+ Per Each ICU Bed
0,Alabama,Autauga,6,55036,10523,19.1,1754.0
1,Alabama,Baldwin,51,203360,53519,26.3,1049.0
2,Alabama,Barbour,5,26201,6150,23.5,1230.0
3,Alabama,Bibb,0,22580,4773,21.1,NaN
4,Alabama,Blount,6,57667,13600,23.6,2267.0
...,...,...,...,...,...,...,...
3137,Wyoming,Sweetwater,10,44527,7015,15.8,702.0
3138,Wyoming,Teton,6,22923,4298,18.7,716.0
3139,Wyoming,Uinta,6,20758,3554,17.1,592.0
3140,Wyoming,Washakie,0,8253,2206,26.7,NaN
3141,Wyoming,Weston,0,7117,2073,29.1,NaN